@import '~normalize.css/normalize.css';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 4px;

  border: 1px solid black;
  border-top: none;
}

.cell {
  padding: 1em;
  cursor: pointer;

  transition: background 0.3s ease-in-out;
  overflow: hidden;
  position: relative;

  .tabs__tab--blue & {
    background: cornflowerblue;
  }
  .tabs__tab--pink & {
    background: pink;
  }
}

.selected {
  // Span from the start to the end
  grid-column: 1 / -1;
}

// Tabs
.tabs {
  &__labels {
    display: flex;
  }
  &__label {
    padding: 0.5em;
    cursor: pointer;
    border-bottom: 1px solid black;

    &--blue {
      background: cornflowerblue;
    }
    &--pink {
      background: pink;
    }

    & + & {
      margin-left: 4px;
    }
  }
  &__tab {
    display: none;
  }
}

// Misc
main {
  max-width: 500px;
  margin: 0 auto;
}
