<div class="ar">
    <div class="ar__preview">
        <h5>Preview {{num}}</h5>
        {{#each numberOfARs as |id|}}
            <button class="ar__preview-button" data-ar="{{id}}">AR {{id}}</button>
        {{/each}}
    </div>
    {{#each numberOfARs as |id|}}
        <div class="ar__content">
            {{> partials/card num=../num id=id grades=(randomRange 4) totalARs=(sizeOf numberOfARs)}}
        </div>
    {{/each}}
</div>