@import '~normalize.css/normalize.css';

html {
  scroll-behavior: smooth;
}

$container-max-width: 600px;

.grid {
  display: grid;
  // 2 col on "mobile"
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;

  padding: 0.5em;
  border-top: none;

  .tabs__tab--blue & {
    background: cornflowerblue;
  }
  .tabs__tab--pink & {
    background: salmon;
  }

  // 3 col on "desktop"
  @media (min-width: #{$container-max-width}) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cell {
  padding: 1em;

  overflow: hidden;
  position: relative;

  &--selected {
    // Span from the start to the end
    grid-column: 1 / -1;
  }

  .tabs__tab--blue & {
    background: mix(cornflowerblue, white, 70%);
  }
  .tabs__tab--pink & {
    background: mix(salmon, white, 70%);
  }
}

.ar {
  h5 {
    margin-top: 0;
  }

  &__preview {
    [data-ar-selected] & {
      display: none;
    }
  }

  &__preview-button {
    cursor: pointer;
    display: block;
    margin: 4px 0;
  }

  &__content {
    display: none;

    @for $i from 1 through 10 {
      [data-ar-selected='#{$i}'] &:nth-child(#{$i + 1}) {
        display: block;
      }
    }
  }
}

.tabs {
  &__labels {
    display: flex;
  }
  &__label {
    padding: 0.5em;
    cursor: pointer;
    box-shadow: inset 0px -10px 4px -10px rgba(0, 0, 0, 0.5);
    color: darkslategray;

    &--blue {
      background: cornflowerblue;
    }
    &--pink {
      background: salmon;
    }

    & + & {
      margin-left: 4px;
    }

    @for $i from 1 through 10 {
      [data-tab-selected='#{$i}'] &:nth-child(#{$i}) {
        box-shadow: none;
        color: black;
        cursor: auto;
      }
    }
  }

  &__tab {
    display: none;

    @for $i from 1 through 10 {
      [data-tab-selected='#{$i}'] &:nth-child(#{$i + 1}) {
        display: block;
      }
    }
  }
}

.card {
  perspective: 40rem;
  overflow: hidden;

  // Needed?
  position: relative;

  &__body {
    transform-style: preserve-3d;
    transition: 0.5s transform ease-in-out, 0.5s height ease-in-out;

    .card--selected & {
      transform: rotateY(-180deg);
    }
  }

  &__front,
  &__back {
    backface-visibility: hidden;
  }

  &__front {
    // Make room for back button
    padding-bottom: 26px;
  }

  &__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotateY(-180deg);
  }

  &__front-button,
  &__front-back-button,
  &__selection-back-button {
    cursor: pointer;
  }

  &__front-back-button,
  &__selection-back-button {
    position: absolute;

    // So it doesn't partially hide via weird overflow bug (actually this doesn't affect it)
    right: 2px;
    bottom: 2px;

    backface-visibility: hidden;
  }

  &__selection {
    position: relative;

    // Make room for back button
    padding-bottom: 26px;

    display: none;
    @for $i from 1 through 10 {
      [data-card-flipped-id="#{$i}"] &[data-grade-id="#{$i}"] {
        display: block;
      }
    }
  }
}

// Misc
main {
  max-width: $container-max-width;
  margin: 10px auto;
}

.sticky-header {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: white;

  height: 60px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5em;

  display: flex;
  align-items: center;

  &__inner {
    max-width: 600px;
    margin: 0 auto;
    flex: 1;
  }
}

$footer-height: 140px;
.sticky-footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  padding: 0.5em;

  background: white;
  box-shadow: 0px -1px 4px 1px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: stretch;

  &__inner {
    max-width: 600px;
    margin: 0 auto;
    flex: 1;
  }
}

body {
  padding-bottom: $footer-height + 10px;
}