@import '~normalize.css/normalize.css';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 4px;

  padding: 0.5em;
  border-top: none;

  .tabs__tab--blue & {
    background: cornflowerblue;
  }
  .tabs__tab--pink & {
    background: salmon;
  }
}

.cell {
  padding: 1em;

  transition: background 0.5s ease-in-out;
  overflow: hidden;
  position: relative;

  &--selected {
    // Span from the start to the end
    grid-column: 1 / -1;
  }

  .tabs__tab--blue & {
    background: mix(cornflowerblue, white, 70%);

    &--selected {
      background: mix(cornflowerblue, white, 50%);
    }
  }
  .tabs__tab--pink & {
    background: mix(salmon, white, 70%);

    &--selected {
      background: mix(salmon, white, 50%);
    }
  }
}

.ar {
  h5 {
    margin-top: 0;
  }

  &__preview {
    [data-ar-selected] & {
      display: none;
    }
  }

  &__preview-button {
    cursor: pointer;
    display: block;
    margin: 4px 0;
  }

  &__content {
    display: none;

    @for $i from 1 through 10 {
      [data-ar-selected='#{$i}'] &:nth-child(#{$i + 1}) {
        display: block;
      }
    }
  }
}

// Tabs
.tabs {
  &__labels {
    display: flex;
  }
  &__label {
    padding: 0.5em;
    cursor: pointer;
    box-shadow: inset 0px -10px 4px -10px rgba(0, 0, 0, 0.5);
    color: darkslategray;

    &--blue {
      background: cornflowerblue;
    }
    &--pink {
      background: salmon;
    }

    & + & {
      margin-left: 4px;
    }

    @for $i from 1 through 10 {
      [data-tab-selected='#{$i}'] &:nth-child(#{$i}) {
        box-shadow: none;
        color: black;
        cursor: auto;
      }
    }
  }

  &__tab {
    display: none;

    @for $i from 1 through 10 {
      [data-tab-selected='#{$i}'] &:nth-child(#{$i + 1}) {
        display: block;
      }
    }
  }
}

// Misc
main {
  max-width: 500px;
  margin: 0 auto;
}
